<h1>Listing championships</h1>


<% @championships.each do |championship| %>
  <p>
    <span><%= championship.start_date %></span>
    <span><%= championship.finish_date %></span>
    <span><%= championship.name %></span>

    Not Asigned!!!!
      <ul>
        <% Game.where("played >= :start AND played <= :finish", {:start => championship.start_date, :finish => championship.finish_date }).each do |game| %>
          <% if championship.id != game.championship_id %>
          <li><%= link_to game.id, game %> - <%= game.played %></li>
          <% end %>
        <% end %>
      </ul>
</p>
<% end %>



<br />

<%= link_to 'New Championship', new_championship_path %>
