	
	<% 
	last_game_date = ''
	@games.each do |game|

	if last_game_date != game.played.to_date
		last_game_date = game.played.to_date
	%>
		<h2><%=game.played.to_date %></h2>				
	<% end %>

			<table>
				<tr>
	        <td><%= User.find(game.t1_p1).name %></td>
	        <td rowspan='2'><h2><%= game.t1_points %></h2></td>
	        <td rowspan='2'><h2>-</h2></td>
	        <td rowspan='2'><h2><%= game.t2_points %></h2></td>
	        <td><%= User.find(game.t2_p1).name %></td>
	    </tr>
	    <tr>
	        <td><%= User.find(game.t1_p2).name %></td>
	        <td><%= User.find(game.t2_p2).name %></td>
	    </tr>
			</table>	
		</td>
<% end %>


<%= link_to "see all games", :controller => "activity", :action => "all" %>