<!DOCTYPE html>
<html>
<head>
  <title>Frontenis</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

	<div id="header">
		frontenis pikutara
	</div>

	<div id="nav">
		<div id="menu">
			<%= link_to "Activity", :controller => "activity", :action => "last" %> |
			<%= link_to "Ranking", :controller => "rankings" %> |
			<%= link_to "Statistics", :controller => "statistics" %>
		</div>
	</div>

	<div id="page">
		<%= yield %>
	</div>

	<div id="footer">
		<p>frontenis - Pikutara koadrila</p>
	</div>

</body>
</html>
