<!DOCTYPE html>
<html>
<head>
  <title>Frontenis</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to "Frontenis Pikutara", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Games", :controller => "games" %>
        </li>
        <li>
          <%= link_to "Ranking", :controller => "rankings" %>
        </li>
        <li>
          <%= link_to "Statistics", :controller => "statistics" %>
        </li>
      </ul>
    </div>
  </div>


<% if notice %>
  <div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><%= notice %></strong>
  </div>
<% end %>

	<div id="page">
		<%= yield %>
	</div>

	<div id="footer">
		<p>frontenis - Pikutara koadrila</p>
	</div>

</body>
</html>
